
<div class="social-div"> <!--class="d-flex align-around flex-justify-center">-->
    <a href="https://github.com/tljstewart" target="_blank" title="Github">
	 <img src="{{ "assets/icons/github-square-brands.svg" | relative_url }}" width="32" height="32" alt="Github">
    </a>
    
    <a rel="me" href="mailto:me@tljstewart.com"  target="_blank" title=Email>
	 <img src="{{ "assets/icons/paper-plane-solid.svg " | relative_url }}" width="32" height="32" alt="Email">
    </a>
    
    <a href="https://www.youtube.com/channel/UCarnnSTYTHTh0Z-wvER1Sew"  target="_blank" title="YouTube">
	 <img src="{{"assets/icons/youtube-brands.svg" | relative_url }}" width="32" height="32" alt="YouTube">
    </a>
    
    <a href="https://linkedin.com/in/tljstewart"  target="_blank" title="Linkedin">
	 <img src="{{ "assets/icons/linkedin-brands.svg" | relative_url }}" width="32" height="32" alt="Linkedin">
    </a>
    
    <a href="https://twitter.com/tljstewart"  target="_blank" title="Twitter">
	 <img src="{{ "assets/icons/twitter-square-brands.svg" | relative_url }}" width="32" height="32" alt="Twitter">
    </a>
    
    <a href="https://medium.com/@tljstewart"  target="_blank" title="Medium">
	 <img src="{{ "assets/icons/medium-brands.svg" | relative_url }}" width="32" height="32" alt="Medium">
    </a>

    <a href="{{ "assets/files/timothy-stewart-cv-long-Sept2021v7.pdf" | relative_url }}" target="_blank" title="Download Resume">
	 <img src="{{ "assets/icons/download-solid.svg" | relative_url }}" width="32" height="32" alt="Download Resume">
    </a>
   <!-- <svg width="32" height="32">
	<use href="{{ "assets/icons/download-solid.svg" | relative_url }}" style="fill: #000;"></use>
    </svg>-->
<!-- <svg class="svg-icon grey"><use xrink:href="/tljstewart/assets/minima-social-icons.svg#linkedin"></use></svg-->

<!-- TODO: this is the correct way to do it... using the minima theme
 <div class="social-links"><ul class="social-media-list"><li><a rel="me"
 href="https://github.com/tljstewart" title="tljstewart"><svg class="svg-icon grey"><use
 xlink:href="/tljstewart/assets/minima-social-icons.svg#github"></use></svg></a></li>
 </div>
-->

</div>
