---
layout: default
---

<style>
#round-img {
  width: 190px;
  height: 190px;
  border:2px solid #fff;
  background: url(img/duck.png) no-repeat;
  -moz-box-shadow: 0px 6px 5px #ccc;
  -webkit-box-shadow: 0px 6px 5px #ccc;
  box-shadow: 0px 6px 5px #ccc;
  -moz-border-radius:190px;
  -webkit-border-radius:190px;
  border-radius:190px;
}
</style>

<div class="d-flex flex-justify-center">

<center>
  {% include mysocial.html %}
  <figure>
    <!-- another way to load site files <img src="{{ site.url }}{{ site.baseurl }}/images/landing.png" alt="Timothy L.J.
    Stewart">-->
     <!-- perfered way is to use relative_url -->
     <img  id="round-img" src="{{ "images/landing-sq2.png" | relative_url }}" alt="Timothy L.J. Stewart">
    <!-- Or grab the image directly from raw GitHub
    <img src="https://raw.githubusercontent.com/tljstewart/tljstewart/master/images/landing.png"
    width="525" height="861"> -->
   <!-- <figcaption>Figure: <a href="https://www.linkedin.com">"Few are those who see with their own eyes,
    and feel with their own hearts." - Albert Einstein</a></figcaption>-->
	<figcaption><a href="https://linkedin.com/in/tljstewart">Few are those who see with
	their own eyes,<br> and feel with their own hearts. - Albert Einstein</a></figcaption>
  </figure>
</center>
    
</div>
<!--yet another way to load an image, but not height or width params !["Few are those who see with their own eyes,
    and feel with their own hearts." - Albert Einstein]({{site.baseurl}}/images/landing.png
    "https://github.com/tljstewart")-->



<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
  {{ content | markdownify }}

  {% if site.paginate %}
    {% assign rawposts = paginator.posts %}
  {% else %}
    {% assign rawposts = site.posts %}
  {% endif %}

  <!-- Hide posts if front matter flag hide:true -->
  {% assign posts = ''|split:'' %}
  {% for post in rawposts %}
    {% if post.hide != true %}
      {% assign posts = posts|push:post%}
    {% endif %}
  {% endfor %}

  <!-- Sort posts by rank, then date -->
  {% assign grouped_posts = posts | group_by: "sticky_rank" | sort: "name", "last" %}
  {% assign sticky_posts = ''|split:'' %}
  {% assign non_sticky_posts = '' | split:'' %}

 
  {% for gp in grouped_posts %}
    {%- if gp.name == "" -%}
      {% assign non_sticky_posts = gp.items | sort: "date" | reverse %}
    {%- else %}
      {% assign sticky_posts = sticky_posts | concat: gp.items %}
    {%- endif -%}
  {% endfor %}

   <!-- Assemble final sorted posts array -->
  {% assign sticky_posts = sticky_posts | sort: "sticky_rank", "last" %}
  {% assign posts = sticky_posts | concat: non_sticky_posts %}

  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        {%- if site.show_image -%}
            {%- include post_list_image_card.html -%}
        {% else %}
            {%- include post_list.html -%}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate and site.posts.size > site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}

</div>
